.Score {
  margin-top: 50px;
  color: white;
  font-size: 40px;
}

.RadiantScore {
  text-shadow: 2px 2px 8px 3.0 #333333b0;
  margin-left: 880px;
}

.DireScore {
  text-shadow: 2px 2px 8px 3.0 #333333b0;
  margin-left: 1020px;
}